
@{
    ViewData["Title"] = "DanhMucNguoiDung";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using X.PagedList.Mvc.Core;
@using ThiThucHanh.Models
@model X.PagedList.IPagedList<User>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>DanhMucNguoiDung</h1>

<p>
    <a asp-action="ThemNguoiDungMoi">Thêm người dùng mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên người dùng
            </th>
            <th>
                Username
            </th>
            <th>
                Role
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string @cls = "table-info";
        }
@foreach (var item in Model) {
            i = i + 1;
            cls = "table-info";
            if (i % 2 == 0)
            {
                cls = "table-warning";
            }
            <tr class="@cls">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                    <a asp-action="SuaNguoiDung" asp-route-maNguoiDung="@item.Id">Edit</a> |
                    <a asp-action="XoaNguoiDung" asp-route-maNguoiDung="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("index", new { page = page }),
                    new PagedListRenderOptions
                {
                    LiElementClasses = new List<String> { "page-item" },
                    PageClasses = new List<String> { "page-link" }
                })